{# used as preview and actual article #}
<article>
    <header>
        <h2><a href="{{article.url}}">{{article.title}}</a></h2>
        {% if article.header_img() and articles %}
        <a href="{{article.url}}">
            <img class="post-image" alt="Title image" width="710" height="100" src="{{article.header_img()}}" />
        </a>
        {% endif %}
    </header>
    <div class="article-content">
        {% if articles %}
            {{article.compile_excerpt()}}
            {% if article.full %} <a href="{{article.url}}">Read more...</a> {% endif %}
        {% else %}
            {{article.compile_body()}}
        {% endif %}
    </div>
    <footer>
        <img class="author-thumb" width="40" height="40" src="{{profiles[article.username].avatar.scaled_url}}" alt="{{profiles[article.username].name}}" />
        <a href="{{profiles[article.username].website}}">{{profiles[article.username].name}}</a>
        <span> &nbsp; | &nbsp; {{article.pubdate.strftime('%-d %B %Y')}}</span>
        <span> &nbsp; | &nbsp; via </span><a href="{{article.origin}}">{{article.origin}}</a>

    </footer>
</article>
