<!DOCTYPE html>
<!-- Want to join us? Email root at this domain -->
{# http://jinja.pocoo.org/docs/dev/tricks/ -#}
{% set nav_links = [
    ('Blog','.'),
    ('About','about.html'),
    ('Forum','https://boards.darksky.io/'),
] -%}


{% set base_url = "https://darksky.io/" -%}
{% set logo_url = "/static/darksky-light-bg.svg" -%}
{# Override per article -#}
{% set site_name = site_name|default("Darksky blog") -%}
{% set title = title|default(site_name) -%}
{% set image_url = image_url|default(logo_url) -%}
{% set description = description|default("Darksky is an invite-only Electronics and software R&amp;D community founded in 2010") -%}

<html>
    <head>
    {% block head %}
        <title>{{title}}</title>
        <meta name="description" content="{{description|striptags}}">


        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="HandheldFriendly" content="True" />

        <!-- TODO -->
        <link rel="shortcut icon" href="/static/darksky-light-bg.svg">

        <meta property="og:site_name" content="{{site_name}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description|striptags}}" />
        <meta property="og:url" content="{{base_url}}" />
        <meta property="og:image" content="{{base_url}}{{image_url}}" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:description" content="{{description|striptags}}" />
        <meta name="twitter:url" content="{{base_url}}" />
        <meta name="twitter:image:src" content="{{base_url}}{{image_url}}" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Website",
                "publisher": "darksky.io",
                "url": "{{base_url}}",
                "image": "{{base_url}}{{image_url}}",
                "description": "{{description|striptags}}"
            }
        </script>


        {#
        <style>
            /* Load font faster by not depending on main CSS first */
            @font-face {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                /* src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');*/
                src: local('Raleway'), url('static/Raleway/Raleway.woff') format('woff');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
            }
        </style>
        #}

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Raleway:400" />

        <link rel="stylesheet" href="static/main.css">
        <meta name="viewport" content="width=device-width,user-scalable=no">

        <!-- iOS/safar don't support the same requestfullscreen API but do
        allow installing as a pseudo app. May as well do the same for chrome. -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        {% for link in prefetch %}
        <link rel="prefetch" href="{{link}}" />
        {% endfor %}
        <link rel="prefetch" href="about.html" />
        <link rel="prerender" href="{{prerender}}" />
    {% endblock head %}
    </head>
    <!-- hack to make :active work on touch -->
    <body onmouseover="">
        <nav>
            {% block nav %}
            <a href=".">
                <img height="200" width="316" src="static/darksky-light-bg.svg" />
            </a>
            <br />
            {% for name,url in nav_links %}
            <a{% if name == selected_link %} class="selected"{% endif%} href="{{url}}">{{name}}</a>
            {% endfor %}
            {% endblock nav %}
        </nav>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>


