<div class="comments">
    {% if comments|length == 1 %}
    <h3>{{ comments|length }} comment</h3>
    {% elif comments %}
    <h3>{{ comments|length }} comments</h3>
    {% endif %}

    {% for comment in comments %}
    <div class="comment">
        <img class="author-thumb" src="{{profiles[comment.username].avatar.scaled_url}}" alt="{{profiles[comment.username].name}}" />
        <a class="author-name" href="{{profiles[comment.username].website}}">{{profiles[comment.username].name}}</a>
        &nbsp; {# TODO better CSS and divs #}
        {{comment.compile_body()}}
    </div>
    {% endfor %}

    {% if article.comments_url %}
    <p> <a href="{{article.comments_url}}">Leave a comment</a></p>
    {% endif %}
</div>
