@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    /* src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');*/
    src: local('Raleway'), url(Raleway/Raleway.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
    background-image:url('world.png');
    background-position:center 40px;
    background-repeat:no-repeat;
    text-rendering: geometricPrecision;
    font-family: "Merriweather", serif;
}

h1 a, h2 a, h3 a, nav a,
h1 a:visited, h2 a:visited, h3 a:visited, nav a:visited
{
    text-transform:uppercase;
    font-family: 'Raleway','Sans-serif';
    text-decoration:none;
    letter-spacing:1px;
    color:#444;
}

nav {
    text-align:center;
    margin:60px 0;
}

nav a {
    display:inline-block;
    margin:20px;
}

nav a.selected {
    border-bottom:2px solid black;
}

#content {
    width: 710px;
    margin:auto;
    overflow-x:hidden;
}

.author-thumb {
    height:40px;
    width:40px;
    border-radius:20px;
    display:inline-block;
    vertical-align:middle;
}

article {
    border-bottom:1px solid #eee;
}

article header,
article footer
{
    font-family: 'Raleway','Sans-serif';
    padding:10px 0;
}

article .post-image {
    opacity:0.6;
    border:1px solid #eee;
}

article footer a {
    text-decoration:none;
    color:#444;
    vertical-align:middle;
}

article time {
    vertical-align:middle;
}

a:hover { color:black; }
a:active { color:gray; }

article section a,
article section a:visited

{
    color:#444;
}



@media only screen and (max-width: 720px) {
    #content {
        width:100%;
    }

    .post-image {
        width:710px;
        position:relative;
        left:50%;
        margin-left:-355px;
    }
}
