body {
    background-image:url('world.png');
    background-position:center 40px;
    background-repeat:no-repeat;
    font-family: 'Raleway','Sans-serif';
    font-size:18px;
}

a,a:visited
{
    color:#444;
}

h1, h2, h3, nav, a.author-name
{
    color:#444;
    letter-spacing:1px;
}

nav {
    text-transform:uppercase;
}

header a, nav a, a.author-name {
    text-decoration:none;
}

nav {
    text-align:center;
    margin:40px 0;
}

nav a {
    display:inline-block;
    margin:20px;
}

nav a.selected {
    border-bottom:2px solid black;
}

#content {
    width: 710px;
    margin:auto;
    overflow-x:hidden;
}

.author-thumb {
    height:40px;
    width:40px;
    display:inline-block;
    vertical-align:middle;
    margin-right:10px;
}

#content > article {
    border-bottom:1px solid #eee;
    padding:10px 0;
    margin:20px 0 50px 0;
}

article > header,
article > footer
{
    font-family: 'Raleway','Sans-serif';
}

article >  footer {
    padding:20px 0;
    line-height:40px;
}

article .post-image {
    opacity:0.6;
    outline:1px solid #eee;
    width:710px;
    height:100px;
    margin:15px 0;
}

article footer a {
    text-decoration:none;
    color:#444;
    vertical-align:middle;
}

article span {
    vertical-align:middle;
}

article > .article-content {
    word-wrap: break-word;
    font-size: 1.0em;
    line-height: 1.7em;
    font-family: "Merriweather", serif;
    color:#333;
}

article > .article-content img {
    margin:50px auto;
    display:block;
}

article > .article-content p {
    margin:0 0 1.75em 0;
}


a:hover { color:black; }
a:active { color:gray; }

article .article-content a,
article .article-content a:visited

{
    color:#444;
}

.emoji {
    width:32px;
    height:32px;
    display:inline-block;
    vertical-align:middle;
}

blockquote {
    border-left:3px solid #eee;
    margin:10px 0;
    padding:20px;
}

.avatar {
    vertical-align:middle;
    margin-right:10px;
}

.comment {
    margin:80px 0;
}

hr {
    border: 0;
    height: 0;
    border-top:1px dashed #eee;
}

.profiles .profile {
    padding-bottom:30px;
    vertical-align:top;
    box-sizing:border-box;
    padding:0 20px 20px 20px;
    border:1px solid #eee;
    margin:70px 0;
    text-align:center;
}


.about {
    margin:50px 0 80px 0;
}

code {
    background:#eee;
    padding:0 3px;
    font-size:15px;
}

pre {
    background:#eee;
    padding:10px;
    border-top:3px solid gray;
    margin:50px 0;
}

.about-text {
    font-style:italic;
    color:gray;
}

.profiles .about-text {
    position:relative;
    top:-14px;
}

/* remove IE dots */
a:active { outline: none; }

@media only screen and (max-width: 720px) {
    #content {
        width:100%;
    }

    .post-image {
        position:relative;
        width:710px;
        left:50%;
        margin-left:-355px!important;
    }

    .article-content img {
        max-width:100%;
        height:inherit;
    }

    .profiles .profile {
        padding-bottom:30px;
        margin-bottom:50px;
        display:inline-block;
        width:100%;
        vertical-align:top;
    }
}
