{% extends "base.html" %}
{% set selected_link = "About" -%}

{% block content %}
<div class="about">
    <p>Darksky is an invite-only Research and Development community founded in 2010</p>
    <p>Blog articles are taken from a category on the Darksky forum as well as the RSS feed from personal websites.</p>
</div>
<h2>Public Members</h2>
<div class="profiles">
    {% for profile in profiles %}
        <div class="profile">
        <h3>{{profile.name}}</h3>
        {% if profile.avatar %}
        <img class="avatar" src="{{profile.avatar}}" alt="{{profile.name}}" width="200" height="200" />
        {% endif %}
        <div class="bio"> {{profile.bio}} </div>
        <div class="links">
            {% if profile.article_count == 1 %}
            {{profile.article_count}} article
            {% elif profile.article_count %}
            {{profile.article_count}} articles
            {% else %}
            No articles
            {% endif %}
            {% if profile.website %}
            | <a href="{{profile.website}}">{{profile.website}}</a>
            {% endif %}
            {% if profile.invited_by %}
            | <em>invited by {{profile.invited_by}}</em>
            {% endif %}
        </div>
    </div>
    {% else %}
        <p><em>No users have published yet.</em></p>
    {% endfor %}
</div>

{% endblock content %}
