{% extends "base.html" %}
{% set selected_link = "About" -%}

{% block content %}
{% for profile in profiles %}
<div class="profiles">
    <div class="profile">
        <h3>{{profile.name}}</h3>
        {% if profile.avatar %}
        <img class="avatar" src="{{profile.avatar}}" alt="{{profile.name}}" width="200" height="200" />
        {% endif %}
        <div class="bio"> {{profile.bio}} </div>
        <div class="links">
            {% if profile.article_count == 1 %}
            {{ profile.article_count }} article
            {% elif profile.article_count %}
            {{ profile.article_count }} articles
            {% endif %}
        </div>
    </div>
</div>
{% else %}
    <p><em>No users have published yet.</em></p>
{% endfor %}

{% endblock content %}
