<article>
    <header>
        <h2><a href="{{article.url}}">{{article.title}}</a></h2>
        {% if article.image %}
        <img class="post-image" width="710" height="100" src="{{article.image}}" />
        {% endif %}
    </header>
    <section>
        {{article.text}}
    </section>
    <footer>
        {% if article.author_image %}
        <img class="author-thumb" src="{{article.author_image}}" alt="{{article.author_name}}" />
        {% endif %}
        <a href="{{article.author_url}}">{{article.author_name}}</a>
        <span> &nbsp; | &nbsp; {{article.published}}</span>
    </footer>
</article>
